.box-sizing {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1280px;
}

.font {
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: inline-block;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #4acbff;
    padding: 63px 0px 38px;
}

.two_letters {
    text-transform: capitalize;
    color: black;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: #35444F;
    font-size: 24px;
    line-height: 28px;
}

.menu-item {
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 26px 40px 19px;
    border-left: 1px solid white;
}

.menu-item:hover {
    background-color: #222F3A;
}

.title {
    display: flex;
    justify-content: stretch;
    margin-top: 48px;
}

.center-left {
    display: flex;
    align-content: stretch;
    width: 28%;
    margin-right: 52px;
}

.menu-left {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #000000; 
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 475px;
}

.menu-item-left {
    display: flex;
    text-decoration: none;
    color: #485863;
    padding: 26px 0 26px 44px;  
}

.menu-item-left:hover {
    background-color: #cac2c2;
    font-weight: bold;
    transition: 1s;
    padding: 26px 0 26px 75px;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    justify-content: center;
    align-items: flex-start;
}

.img-block {
    display: flex;
    height: 527px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    flex-grow: 1;  
}

.img-item {
    width: 320px ;
    transition: 1s ease-in-out;
}  

.img-item:hover {
    width: 400px;
}

.description {
    padding-top: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-around;
    align-items: center;
    margin-top: 54px;  
}

.menu-list-footer {
    display: flex;
    font-size: 28px;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    padding: 21px 0 18px;
}

.menu-item-footer {
    text-decoration: none;
    color: inherit;
    padding-right: 30px;  
}

.menu-item-footer:hover {
    color: #4acbff;
    text-decoration: underline;
}

.footer-right {
    font-size: 24px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
}
